[submodule "zsh/zprezto-contrib/git-extra-commands"]
	path = zsh/zprezto-contrib/git-extra-commands
	url = https://github.com/unixorn/git-extra-commands
[submodule "zsh/zprezto-contrib-external"]
	path = zsh/zprezto-contrib-external
	url = https://github.com/belak/prezto-contrib
[submodule "zsh/external/zplugin"]
	path = zsh/external/zplugin
	url = https://github.com/zdharma/zplugin
